@media screen and (max-width: 940px) {
    .blog-inner {
        max-width: 480px;
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media screen and (max-width: 540px) {
    .stats__inner {
        padding: 70px 20px;
    }
    .inner__left {
        padding-right: 40px;
    }
    .inner__right {
        padding-left: 40px;
    }
    .blog-inner {
        max-width: 320px;
    }
    .blog-inner__gallery {
    grid-template-areas: 
        "gallery__item1 gallery__item1"
        "gallery__item2 gallery__item3";
    }
}
@media screen and (max-width: 425px) {
    .inner__left {
        padding-right: 20px;
    }
    .inner__right {
        padding-left: 20px;
    }
}