/* General */
:root {
    --blue-color: rgba(61, 79, 159, 1);
    --grey-color: rgba(173, 179, 203, 1);

    --font-family-roboto: 'Roboto', sans-serif;
}
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *:before, *:after {
    box-sizing: inherit;
}
img {
    /* display: block; */
    max-width: 100%;
    height: auto;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, button, input {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
body {
    margin: 0;
    font-family: var(--font-family-roboto);
    font-weight: 400;
    font-style: normal;
}
.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
/* Features */
.features {
    text-align: center;
    padding: 170px 0;
}
.features-title {
    font-weight: 500;
    color: var(--blue-color);
}
.features-title__heading {
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.features-title__subtitle {
    font-size: 24px;
    margin-bottom: 93px;
}
.cards {
    display: flex;
    gap: 67px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 142px;
}
.item {
    max-width: 140px;
    width: 100%;
}
.item__img {
    margin-bottom: 28px;
}
.item__title {
    color: var(--blue-color);
    font-size: 14px;    
    font-weight: 700;
    margin-bottom: 34px;
}
.item__text {
    color: var(--grey-color);
    font-size: 11px;
    font-weight: 500;
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 111px;
    flex-wrap: wrap;
}
.btn__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 113px;
    height: 43px;
    font-size: 13px;
    font-weight: 700;
}
.btn--primary {
    color: rgba(212, 63, 63, 1);
    border-radius: 2px;
    background: rgba(255, 215, 215, 1);
}
.btn--secondary {
    color: rgba(58, 121, 255, 1);
    border-radius: 2px;
    background: rgba(210, 225, 255, 1);
}
/* Stats */
.stats {
    background: linear-gradient(90deg, rgba(94, 128, 255, 1) 50%,rgba(223, 233, 255, 1) 0%);
}
.stats__inner {
    padding: 70px 0;
    display: flex;
    justify-content: center;
}
.inner__left {
    color: #fff;
    padding-right: 90px;
    text-align: right;
    width: 50%;
    max-width: 340px;
}
.inner__right {
    color: rgba(58, 121, 255, 1);
    padding-left: 90px;
    text-align: left;
    width: 50%;
    max-width: 340px;
}
.inner__img {
    margin-bottom: 15px;
}
.status__number {
    font-size: 48px;
    margin-bottom: 20px;
}
.status__desc {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.6px;
}